
<h1>Know Your World</h1>


<% @articles.each do |nav_headers, only_need_headers| %>
    <%= nav_headers %>
<% end %>


<% @articles.each do |subsection, section_articles| %>

<h2><%= subsection %></h2> 
    
  <% section_articles.each do |article| %>

<h3><%= article[:title].html_safe %> </h3>

  <p><strong><%= article[:geographic_facet].first %></strong><span> <%= article[:abstract].html_safe %></p></span>
      

  <li>
  <%= link_to "Read Article", article[:link], :target => "_blank" %>
  | <%= link_to " Save Article", :controller => "news", 
                                :action => "create", 
                                subsection: subsection,
                                title: article[:title], 
                                abstract: article[:abstract], 
                                article_url: article[:link],
                                id: "save-article-button" %>
  </li>

      <% unless article[:relevant_articles].nil? %>
        <h4> Related Articles </h4>
        <% article[:relevant_articles].each do |related| %>
          <li><%= related["suggested_link_text"].html_safe %></li>
          <li><%= link_to "Read at NYTimes.com", related["url"], :target => "_blank" %></p>
        <% end %>
      <% end %>

    <% end %>

  <% end %>


<h1>Saved Articles</h1>




