
<h1>Know Your World</h1>


<% @articles.each do |nav_headers, not_needed_articles| %>
    <%= nav_headers %>
<% end %>


<% @articles.each do |subsection, section_articles| %>

  <h2><%= subsection %></h2> 
    
  <% section_articles.each do |article| %>

<h3><%= article[:title].html_safe %> | <%= article[:geographic_facet].first %></h3>

  <%= article[:abstract].html_safe %>
      

  <li>
  <%= link_to "Read Article", :target => "_blank" %>
  <%= link_to "|   Save Article", :controller => "news", 
                                :action => "create", 
                                subsection: subsection,
                                title: article[:title], 
                                abstract: article[:abstract], 
                                article_url: article[:link] %>
  </li>

      <% unless article[:relevant_articles].nil? %>
        <h4> Related Articles </h4>
        <% article[:relevant_articles].each do |related| %>
          <li><%= related["suggested_link_text"] %></li>
          <li><%= link_to "Read at NYTimes.com", related["url"], :target => "_blank" %></p>
        <% end %>
      <% end %>

    <% end %>

  <% end %>


