<body>
<div class = "top">
<h1>Know Your World</h1>
</div>
<ul>

<div>
  |  AFRICA |  MIDDLE EAST |  ASIA PACIFIC |  EUROPE |  AMERICAS
</div>

  <% @articles.each do |subsection, section_articles| %>

  <div class = "titles" >
    <h2><%= subsection.html_safe %></h2> 
  </div>
    
    <% section_articles.each do |article| %>
      <h3><%= article[:title].html_safe %></h3>
      <div class = "line"> </div>
      <div class = "content">
      <p class= "article"> <%= article[:abstract].html_safe %></p>
      <li class = "list">

      <%= link_to "|   Read Article", article[:link] %>
      <%= link_to "|   Search Relevant Articles" %>
      <%= link_to "|   Save Article", :controller => "news", :action => "create", title: article[:title], abstract: article[:abstract], article_url: article[:link] %>
      </li>
      <div class = "line"> </div>
    </div>
    <% end %>
  <% end %>
</ul>


</body>
